/*************************************generelt start************************************/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;


}

/*billeder*/
img {
    width: 100%;
    padding: 20px;
}



header {
    width: 100%;
    height: 20vw;
    background-color: white;
    top: 0;
    position: fixed;

}

section {

    margin-top: 25vw;
    margin: 0 auto;
}


/*fonts start*/
h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 900;
    text-align: center;
    margin-top: 1rem;

}

h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;


}

h3 {
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;

}


h4 {
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    text-align: center;

}

p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    max-width: 70ch;
    line-height: 1.6;
    padding: 10px;


}


/***************************************generelt slut**********************************/





/***********************************logo og splash start********************************/


/*logo skal sidde i venstre hjørne*/
#logo {
    margin-left: 10px;
    margin-right: auto;
    width: 23%;


}

/*splash billede skal fylde ud og ligge i bunden*/
#splash {
    background-image: url(splash/splash_mobile.png);
    background-size: 100%;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
}


/************************************logo og splash slut*******************************/





/*************************************burger menu start********************************/



#burger_menu {
    position: absolute;
    top: -7rem;
    right: 0.8rem;
    font-size: 2.3rem;
    z-index: 100;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    display: flex;

}

.burger_kryds {
    font-size: 1.7rem;
    padding: 0.1rem;
    transform: scale(1.4, 1);
    margin-bottom: 0;
    color: black;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
}

#mylinks {
    display: none;
    color: black;
    margin: 0;

}

#mylinks a {
    font-family: 'Muli', sans-serif;
    font-weight: 200;

}


#menu_burger_bar {
    position: relative;
    top: 10vw;
    left: 0;
    width: 100vw;
    background: white;

}

#menu_burger_bar a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    text-align: right;
    top: 25vw;

}



#burger_tema_02,
#burger_tema_03,
#burger_tema_04,
#burger_tema_05,
#burger_cv,
    {
    height: 5rem;
    margin-right: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/**************************************burger menu start********************************/


/****************************************tema_02 start*********************************/

#tema_02 {
    margin: 10px;
    padding: 10px;


}


.col_stilart_text {
    padding: 10px;
    background-color: #ebeb6b;
    display: flex;
    flex-wrap: wrap;

}

.col_stilart_picture {
    padding: 10px;
    background-color: #ebeb6b;

}


#stilart_overskrift_1 {
    text-align: left;
}


/*
#stilart_beskrivelse {

    margin-left: 20px;
    margin-right: 20px;

}
*/

/*
#liste ul {
    list-style-type: none;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;

}
*/


#stilart_beskrivelse p {
    text-align: left;
}

#american_magazine {
    text-align: left;

}

#design_proces {
    text-align: left;
    background-color: #ebeb6b;
}

#stilart_beskrivelse .link_stilart {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
}



/*scroll snap start*/


/*scroll snap sslut*/

/*************************************tema_02 slut**********************************/


/************************************tema_03 start*********************************/

#tema_03 {
    margin: 10px;
    padding: 10px;
}

.col_ux_text {
    padding: 10px;
    background-color: #e5d165;
    align-items: center
}



.col_picture {
    padding: 40px;
    background-color: white;
}

.col_data_list {
    padding: 10px;
    background-color: #e5d165;
}

#ux_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#ux_menu a {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-decoration: none;
    list-style-type: none;
}


#ux_beskrivelse {}

/*
#dataindsamling {
    scroll-snap-type: mandatory;
    scroll-snappoint: x: repeat(100vh);
    sctoll-snape-type: x mandatory;
    display: flex;
    flex-wrap: wrap;
}

#dataindsamling .data_scroll {
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

#dataindsamling .data_scroll img {
    height: 100vw;
}
*/

#data_list_1 li {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    font-weight: 200;
    list-style-type: none;
    max-width: 70ch;
    line-height: 1.6;
}

#prototype {}

.proto_liste li {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    font-weight: 200;
    list-style-type: none;
    max-width: 70ch;
    line-height: 1.6;
    text-align: left;
}

#prototype .link_prototype1 {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
}

#designsprint {}

.sprint_liste li {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    font-weight: 200;
    list-style-type: none;
    max-width: 70ch;
    line-height: 1.6;
}


#designsprint .link_prototype2 {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
}

/*
.col_tema03_doku {
    padding: 10px;
    background-color: #e5d165;
}
*/

#link_tema_03_dokumentation.html {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
}

/*
.tema_03_desktop_dokusite {
    padding: 10px;
    background-color: #e5d165;
}
*/

/*
.link_tema_03_desktop_dokusite {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
}
*/


/****************************************tema_03 slut***********************************/





/***************************************tema_04 start***********************************/

#tema_04 {
    margin: 10px;
    padding: 10px;

}


#link_tema_04_dokumentation.html {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
}

.animation_overskrift_1 {}


.col_animation_text {
    padding: 10px;
    background-color: #ebbb4f;
}

.col_spil_liste {
    padding: 10px;
}

#spil_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#spil_menu a {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-decoration: none;
    list-style-type: none;
}


#drowsy_dog .link_drowsy_spil {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
}

#gruppe_doku .link_gruppe_doku {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
}

#gruppe_doku .link_gruppe_spil {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
}

.col_drowsy {
    padding: 10px;
    background-color: #ebbb4f;

}

.tema_04_doku {
    padding: 10px;
    background-color: #ebbb4f;
}


/****************************************tema_04 slut**********************************/




/****************************************tema_05 start**********************************/

#tema_05 {
    margin: 10px;
    padding: 10px;
    margin-top: 20vw;

}

.col_redesign_text {
    padding: 10px;
    background-color: #fdaa57;
}

.redesign_overskrift_1 {}

#redesign_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#redesign_menu a {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-decoration: none;
    list-style-type: none;
}


.link_pilotvideo {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
}


.link_redesign {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
}

/*************************************tema_05 slut************************************/









/************************************cv start***************************************/

#cv {
    margin: 10px;
    padding: 10px;
    margin-top: 20vw;
}

.col_cv_text {
    padding: 10px;
    background-color: lightgrey;
}

.col_mig_text {
    padding: 10px;
    background-color: lightgray;
}




/**************************************cv slut***************************************/










/**************************************mediaquery start*********************************/

/*tablet*/
@media only screen and (min-width: 600px) {

    #splash {
        background-image: url(splash/splash_desktop.png);
    }

    #mylinks {
        display: flex;
        flex-direction: row;
    }

    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }

    #menu_burger_bar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        top: -40px;
        background: white;
        align-items: center;

    }

    #menu_burger_bar a {
        display: inline-block;
        padding: 14px 16px;
    }

    #burger_menu {
        display: none;
    }

    header {

        top: 0;
        height: 10vw;
        position: fixed;

    }

    #logo {
        margin-left: 10px;
        margin-right: auto;
        width: 10%;

    }

    .col_stilart_text {
        flex-direction: column;


    }


    #tema_02 {
        margin: 10px;
        padding: 10px;
        margin-top: 20vw;
    }

    #tema_03 {
        margin: 10px;
        padding: 10px;
        margin-top: 20vw;
    }

    #tema_04 {
        margin: 10px;
        padding: 10px;
        margin-top: 20vw;
    }

    #tema_05 {
        margin: 10px;
        padding: 10px;
        margin-top: 20vw;
    }

    #cv {
        margin: 10px;
        padding: 10px;
        margin-top: 20vw;
    }

}


desktop @media only screen and (min-width: 992px) {}

/**************************************mediaquery slut*********************************/
